
<tr>
  <td><%= inventory.import_id %></td>
  <td><%= inventory.row_id %></td>
  <td><%= inventory.row %></td>
  <td><%= inventory.columns %></td>
  <td><%= inventory.photos.attached? %></td>
  <td> <%= link_to "Show", inventory %></td>
</tr>



