<div id="<%= dom_id import %>">
  <p>
    <strong>Smartsheet:</strong>
    <%= import.smartsheet_id %>
  </p>

  <p>
    <strong>Columns:</strong>
    <%= import.columns %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= import.status %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= import.name %>
  </p>

</div>
