
<tr>
  <div id="<%= dom_id import %>">
    <td><%= import.id %></td>
    <td><%= import.name %></td>
    <td><%= import.smartsheet_id %></td>
    <td><%= import.created_at %></td>
    <td><%= import.status %></td>
    <td> <%= link_to "Show this import", import, class: "btn btn-primary" %></td>
  </div>
</tr>