<tr>
    <td><%= smartsheet[:id] %></td>
    <td><%= link_to smartsheet[:name], smartsheet[:permalink], target: "blank" %></td>
    <td><%= smartsheet[:created_at] %></td>
    <td><%= smartsheet[:modified_at] %></td>
    <td><%= link_to 'Import', new_import_path(smartsheet_id: smartsheet[:id]), class: 'btn btn-primary btn-sm' %> </td>
</tr>